body {
  font-family: "Poppins", serif;
  background-color: #f4efe8;
}

.blog-title {
  background-color: antiquewhite;
  border: 6px solid lightgray;
  text-align: center;
  margin: 0px;
}

.blog-title p {
  margin: 4px;
}

.title {
  font-weight: 100;
  text-transform: lowercase;
  font-size: 90px;
  color: slategray;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  padding: 20px 0px;
}

.blog-index {
  background-color: #f4efe8;
}

h2 {
  margin: 0;
  padding-top: 50px;
  font-weight: 300;
  padding-bottom: 20px;
}

ul {
  margin: 0;
  list-style-type: square;
  padding-bottom: 30px;
}

ul li {
  text-transform: lowercase;
  padding: 4px 4px 20px 4px;
  font-weight: 200;
  size: 18px;
}

.btn-1 {
  background: transparent;
  border: none;
  cursor: pointer;
}

.new-post {
  max-width: 500px;
  background-color: antiquewhite;
  border: 6px solid lightgray;
  padding-left: 24px;
  padding-bottom: 20px;
}

.new-post p {
  font-weight: 400;
  size: 16px;
  padding-bottom: 0px;
}

.blog-basic-info {
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
}

input,
select {
  border: .5 solid grey;
  margin-right: 6px;
  margin-bottom: 6px;
  font-family: "poppins", serif;
  font-size: 14px;
  color: grey;
}

textarea {
  margin-top: 2px;
  margin-bottom: 6px;
}

.publish {
  font-family: "poppins", serif;
  font-size: 14px;
  color: grey;
  display: flex;

}

.publish p {
  margin: 0px;
}

.btn-2 {
  background-color: white;
  border: .5px solid grey;
  font-size: 12px;
  font-weight: 200;
  color: grey;
  font-family: "Poppins", serif;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10%;
}

.submit {
  margin-top: 8px;
}

.delete-all {
  margin-bottom: 50px;
}